<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find robotdog-v0.1-URDF_v0.12)/urdf/robotdog-v0.1-URDF_v0.12.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find robotdog-v0.1-URDF_v0.12)/urdf.rviz" />
</launch>